/* Remove highlight */

#map_graphics_layer path {
     stroke:rgba(0,0,0,0) !important;
	 stroke-width: 0px !important;
}


 html, body, #map {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
      }
	  
#search {
	display: block;
	position: absolute;
	z-index: 3;
	top: 20px;
	left: 75px;
}

.info {
	text-align: center;
}

.simpleGeocoder, .esriGeocoder, .esriGeocoderContainer {
    width: 375px !important;
}

#search_input {
    width: 300px;
}